{
  "openapi": "3.0.1",
  "info": {
    "title": "Article Retrieval API",
    "description": "API for retrieving article data with various filters and handling user credits based on data retrieval.",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://press-review.qolaig.app/api/"
    }
  ],
  "security": [
    {
      "tokenAuth": []
    }
  ],
  "paths": {
    "/articles": {
      "get": {
        "description": "Fetches articles based on optional query parameters. Applies credit charges based on the number of unique dates in the fetched articles.",
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "description": "Filter articles by category.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "default": "All categories",
                "enum": [
                  "economie",
                  "finance",
                  "immobilier",
                  "tech",
                  "industrie",
                  "politique",
                  "international",
                  "france",
                  "patrimoine",
                  "innovation"
                ]
              }
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Fetch articles from a specific date. Defaults to the current date if not provided.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date",
              "default": "Maximum Date (yesterday)"
            }
          },
          {
            "name": "date_start",
            "in": "query",
            "description": "The start date for a date range query.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "date_end",
            "in": "query",
            "description": "The end date for a date range query.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "Filter articles by their sources. Can handle both single and multiple sources. By default, all sources that you have access to are included.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "default": "All sources",
                "enum": [
                  "Le Monde",
                  "Les Echos"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of articles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/articles_filtered": {
      "get": {
        "description": "Fetches articles based on detailed filters including a prompt for soft filtering using an AI model.",
        "parameters": [
          {
            "name": "prompt",
            "in": "query",
            "description": "The prompt used for AI-driven filtering of article titles.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Filter articles by category.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "default": "All categories",
                "enum": [
                  "economie",
                  "finance",
                  "immobilier",
                  "tech",
                  "industrie",
                  "politique",
                  "international",
                  "france",
                  "patrimoine",
                  "innovation"
                ]
              }
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Fetch articles from a specific date. Defaults to the current date if not provided.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date",
              "default": "Maximum Date (yesterday)"
            }
          },
          {
            "name": "date_start",
            "in": "query",
            "description": "The start date for a date range query.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "date_end",
            "in": "query",
            "description": "The end date for a date range query.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "Filter articles by their sources. Can handle both single and multiple sources. By default, all sources that you have access to are included.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "default": "All sources",
                "enum": [
                  "Le Monde",
                  "Les Echos"
                ]
              }
            }
          },
          {
            "name": "soft_filter",
            "in": "query",
            "description": "If True, will return a boolean filter to check if the article title is relevant to the prompt. If False (default), will return the filtered articles.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "False"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of filtered articles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              }
            }
          },
          "400": {
            "description": "No prompt provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/generate_pdf": {
      "post": {
        "summary": "Generates a PDF from uploaded JSON data",
        "operationId": "generatePdf",
        "tags": [
          "PDF Generation"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/FileUpload"
        }
        ,
        "responses": {
          "200": {
            "description": "Successful retrieval of articles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PDF"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
        ,
        "x-codeSamples": [
          {
            "lang": "Python",
            "source": "import requests\n\n# Get the articles from the API\nurl = 'https: //press-review.qolaig.app/api/articles'\n\n# Add parameters to the URL\nquerystring = {'category':'economie'}\n\n# Add the API key to the headers\nheaders = {'token': '<api-key>'}\n\n# Store the response in a variable\nresponse = requests.request('GET', url, headers=headers, params=querystring)\n\n# Generate the PDF from the articles\nurl = 'https://press-review.qolaig.app/api/generate_pdf'\n\n# Prepare the file data as a dictionary in the form expected for multipart/form-data\nfiles = {'data': ('data', response.text, 'text/plain')}\n\n# Send the POST request with the file in multipart/form-data\npdf = requests.post(url, files=files, headers=headers)\n\noutput_path = 'NAME_OF_YOUR_PDF.pdf'\n\n# Save the PDF content to a file\nwith open(output_path, 'wb') as pdf_file:\n    pdf_file.write(pdf.content)"
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Article": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date"
          },
          "title": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "category_source": {
            "type": "string"
          },
          "content": {
            "type": "string"
          }
        }
      },
      "PDF": {
        "type": "object",
        "properties": {
          "pdfFile": {
            "type": "string",
            "format": "binary"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "tokenAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "token"
      }
    },
    "requestBodies": {
      "FileUpload": {
        "description": "JSON file to be converted into PDF",
        "content": {
          "multipart/form-data": {
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "string",
                  "format": "binary",
                  "description": "The JSON file to process into a PDF"
                }
              }
            }
          }
        },
        "required": true
      }
    }

  }
}
